@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is the css for the grid layout with tailwind */
.grid {
  display: grid;
  margin-top: 25px;
  /* padding-left: 2px;
  padding-right: 2px; */
  /* padding-bottom: 1px; */
  /* margin-bottom: 1rem; */
  border-bottom: 1px solid red;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-size: 20px;
  width: 100%;
}

.horizontal {
  text-indent: 75px;
  margin-left: 20px;
}
