/* This property refers to styling the first row - Uptown */
/* .up {
border-bottom: 1px solid black; 
  color: Black;
 padding-left: 315px;
}  */

/* This property refers to styling the second row - Downtown */
/* .down {
  border-bottom: 1px solid black;
  color: Black;
} */

/* This property refers to styling the rows */
/* .row {
  display: flex;
  column-count: 2;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid red;
} */

/* This property refers to styling the columns, but 
styling is being ignored */
/* .col {
  column-count: 4;
} */

/* This property refers to styling the container, but
 the styling is being ignored*/

/* .locations {
  font-family: sans-serif;
  color: black;
  border-bottom: 1px solid red;
  columns: space-between;
} */

/* This property refers to styling the header  */

.header {
  margin: auto;
  font-family: sans-serif;
  color: black;
  display: flex;
  align-items: left;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px 30px;
}

/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}  */
