.footer {
  font-family: sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  align-items: left;
  justify-content: space-between;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px 30px;
}
