/* .layout {
  font-family: sans-serif;
  color: black;
  column-count: none;
  justify-content: space-between;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px 30px;
} */
